/* reset */
* {
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    background-color: #f0ebf8;
}

h1, h2, h3, h4, h5 {
    color: #333;
}
p,
label {
    color: #444;
}

input {
    border: none;
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
}

input[type="text"],
input[type="number"],
input[type="date"],
input[type="file"],
textarea {
    width: 400px;
}

textarea{
    padding: 10px 5px;
}

/* Cabeçalho */
.header {
    height: 160px;
    padding: 20px;
    background-color: #082ed8;
    background-image: url("../img/photo-1541899481282-d53bffe3c35d.avif");
    background-position: center;
}

.header h3 {
    color: #fff;
    margin-top: 0;
}

/* Form container */
.form-container {
    background-color: #fdfdfd;
    width: 60%;
    margin: 0 auto;
    position: relative;
    top: -62px;
}

/* cabeçalho do formulario/form header */
.form-header {
    border-bottom: 1px solid #dfdfdf;
    height: 45px;
}

.form-header p{
    color: #082ed8;
    border-bottom: 2px solid #082ed8;
    width: 100px;
    text-align: center;
    margin: 0 auto;
    text-transform: uppercase;
    height: 45px;
    line-height: 45px;
}

.form-body{
    padding: 30px;
}

.form-title {
    margin-bottom: 15px;
}

.form-body p{
    margin-bottom: 20px;
}

.required-field {
    color: #d80835;
}

.box-input {
    margin-bottom: 35px;
}

.block {
    display: block;
}

.optional-boxt{
    display: inline-block;
    margin: 0 30px 30px 0;
}

.optional-list li {
    list-style: none;
    margin-bottom: 5px;
}

.box-input p {
    margin-bottom: 15px;
}

.btn-submit {
    background-color:  #082ed8;
    color: #fff;
    border: 2px solid transparent;
    width: 150px;
    height: 50px;
    cursor: pointer;
    text-transform: uppercase;
    transform: 0.5s;
}

.btn-submit:hover {
    background-color: #fff;
    border-color: #082ed8;
    color: #082ed8;
}